* {
    font-family: Prompt, sans-serif;
}

.resort-image {
    max-width: 100%;
    max-height: auto;
}

.resort-card {
    background-color: rgb(198, 215, 220);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 325px;
    text-align: left;
}

.resort-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

.favorite-btn {
    display: flex;
    justify-content: right;
    align-items: right;
}

.resort-name {
    text-align: center;
    margin-bottom: 5px;
}

.resort-location {
    text-align: center;
    margin-top: 5px;
}

.resort-image {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.resort-details {
    padding-left: 15px;
}

.visited-btn {
    display: flex;
    justify-content: center;
    align-items:center;
}

.app-container {
    display: flex;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.favorites-container {
    display: flex;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}